# Ignore everything.  We'll whitelist what we want to pull in.
/*
/*/
/*/*

# Git meta files
!.gitignore
!.gitattributes
!README.md

# Whitelisted directories/files
!/Assets/*
Covid Party 64/Library/SourceAssetDB
*.log
Covid Party 64/Library/ShaderCache/EditorEncounteredVariants
*.stamp
Covid Party 64/Library/Artifacts/6b/6bf7cda417acb5449cce19c0304f437c
Covid Party 64/Library/ArtifactDB
